{% extends "/html/nav-header.html" %}

{% block content %}

<html>
    <title>About</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/about.css">

    <section id="featured">
        <section class="section">
            <div class="content-conatiner">
                <article class="article-content">
                    <div class='news-title'>About Lyrically Literate</div>
                    <div class="title-line"></div>
                    <h3 class="header">Background</h3>
                    <p> 
                        Well, first off, what is Lyrically Literate? Simply put, L.L. is a collection of music news and
                        lyrical data. Music could be argued to be one of the most important arts of human life. Wether thats hip-hop, country, 
                        pop, or any other genre, they all play a role in someones life. As we live in the 21st century nothing infulences our 
                        digital lives more than data. Having the ablility to analyze rich data driven by music, as provided by Lyrically Literate, 
                        presents us with new opportitnites on how we each perceive our favorite song or verse.  
                    </p>
                    <h3 class="header">Authenticity</h3>
                    <p> 
                        More than 455,000,000 websites (as of 2020) have been devloped using popular website building software. As the 
                        founder of Lyrically Literate, its honorable to mention everything you see has been %100 devloped from scratch. 
                        Why does that matter? Simply put, authenticity. We love certain artists for their 
                        authenticity. So why should you get music news and data from an un-authentic source?       
                    </p>
                    <h3 class="header">Creativity</h3>
                    <p>
                        The world runs on creativity 
                    </p>
                </article>
            </div>
        </section>
    </section>
</html>

{% endblock %}
