{% extends "/html/nav-header.html" %}

{% block content %}

<html>
    <link rel="stylesheet" href="./static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <img id='img1' src='/static/img/MusicNote1.png'/>
    <img id='img2' src='/static/img/MusicNote1.png'/>
    <img id='img3' src='/static/img/MusicNote1.png'/>
    <img id='img4' src='/static/img/MusicNote1.png'/>
    <img id='img5' src='/static/img/MusicNote1.png'/>
    <img id='img6' src='/static/img/MusicNote1.png'/>
    <img id='img7' src='/static/img/MusicNote1.png'/>
    <img id='img8' src='/static/img/MusicNote1.png'/>
    <img id='img9' src='/static/img/MusicNote1.png'/>
    <img id='img10' src='/static/img/MusicNote1.png'/>

    <section id="featured">
        <div class="container">
            <span id='news-title'>Featured News</span>
        </div>
    </section>
</html>

{% endblock %}
