{% extends "/html/nav-header.html" %}

{% block content %}

<html>
    <title>Lyrically Literate Featured</title>
    <link rel="stylesheet" href="./static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <img class='img one' src='/static/img/MusicNote1.png'/>
    <img class='img two' src='/static/img/MusicNote1.png'/>
    <img class='img three' src='/static/img/MusicNote1.png'/>
    <img class='img four' src='/static/img/MusicNote1.png'/>
    <img class='img five' src='/static/img/MusicNote1.png'/>
    <img class='img six' src='/static/img/MusicNote1.png'/>
    <img class='img seven' src='/static/img/MusicNote1.png'/>
    <img class='img eight' src='/static/img/MusicNote1.png'/>
    <img class='img nine' src='/static/img/MusicNote1.png'/>
    <img class='img ten' src='/static/img/MusicNote1.png'/>

    <section id="featured">
        <div class="container">
            <div class="container-header">
                <article class="article-news">
                    <div id='news-title'>Featured News</div>
                    <h3>NPR Music's Top 10 Albums Of March</h3>
                    <p>
                        This month, that included surprise drops from Childish Gambino and Jay Electronica, plus Waxahatchee's tender Saint Cloud. And because it was released on the leap year — Feb. 29 — we couldn't let March pass without highlighting Bad Bunny's phenomenal YHLQMDLG as a bonus.
                    </p>
                    <span>Source: https://www.npr.org/2020/03/31/823556840/npr-musics-top-11-albums-of-march-2020</span>
                </article>
                <div id='placeholder'></div>
                <img id="news-img1" src="/static/img/TestNews1.jpg">
            </div>
            <div class="spacer"></div>
            <section class="container-middle">
                <article class="article-news">
                    <div id='news-title'>New Releases</div>
                    <h3>The Weeknd’s ‘After Hours’ Debuts at No. 1 on Billboard 200 Chart</h3>
                    <p>
                        The Weeknd rocks the top of the Billboard 200 albums chart, as he scores his fourth No. 1 album with his latest release, After Hours. The set jumps in with the year’s biggest week for any album: 444,000 equivalent album units in the U.S                    
                    </p>
                    <span>Source: https://www.billboard.com/articles/business/chart-beat/9345850/the-weeknd-after-hours-billboard-200-debut-2020-biggest-week</span>
                </article>
                <div id='placeholder'></div>
                <img id="news-img1" src="/static/img/TestNews2.jpg">
            </section>
            <div class="spacer"></div>
            <!-- REMOVE EVERYTHING BELOW - WAS JUST TO ADD HEIGHT FOR TEST SCROLLING -->
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </div>
    </section>
</html>

{% endblock %}
