<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Discover The True Meaning Behind The Lyrics">
        <meta name="keywords" content="music, lyrics, Meaning">
        <meta name="author" content="Nick Mantini">
        <title>Blank Home</title>
        <link rel="stylesheet" href="./static/css/home.css">
    </head>
    <body>
        <header>
            <div class="main-header">
                <div class="logo">
                    Visionary Music
                </div>
            </div>
            <nav class="nav">
                <ul>
                   <li><a href='/Featured'>Featured</a></li> 
                   <li id="bold"><a href='/Lyrics'>Lyrics</a></li> 
                   <li><a href='/News'>News</a></li> 
                   <li><a href='/Community'>Community</a></li> 
                   <li><a href='/Shop'>Shop</a></li> 
                </ul>
            </nav>
        </header>
    </body>
</html>