{% extends "/html/nav-header.html" %}

{% block content %}

<html>
    <title>Featured</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/lyrics.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <section id="featured">
        <section class="section">
            <div class="content-conatiner">
                <article class="article-content">
                    <div class='news-title'>Advanced Content Search</div>
                    <div class="title-line"></div>
                    <form action="/lyrics" method="post" class="form-adv">
                        <div class="flex-wrapper">
                            <div class="radio-wrapper">
                                <label unselectable="on"> 
                                    <input class="radio" type="radio" id="any" name="type" value="any">
                                    <span class="radio-border"></span>
                                    Any
                                </label>                    
                                <label>
                                    <input class="radio" type="radio" id="song" name="type" value="song">
                                    <span class="radio-border"></span>
                                    Songs
                                </label>
                                <label>
                                    <input class="radio" type="radio" id="artist" name="type" value="artist">
                                    <span class="radio-border"></span>
                                    Artists
                                </label>
                                <label>
                                    <input class="radio" type="radio" id="album" name="type" value="album">
                                    <span class="radio-border"></span>
                                    Albums
                                </label>
                                <div class="search-btn-wrapper">
                                    <input type="text" id="search-term" name="search-term" placeholder="Search for anything" autocomplete="off">
                                    <button class="btn" type="submit" name="search" value="search">Search</button>     
                                </div>           
                            </div>                       
                        </div>
                    </form>
                </article>
            </div>
            <div class="content-conatiner">
                <div class="spacer"></div>
            </div>
    </section>

    <section class="section grey" style="margin-top: 40px;">
        <div class="content-conatiner">
            <article class="article-content">
                <div class='news-title' id="search-results-title">Search Results</div>
                <div class="title-line"></div>
            </article>
        </div>
    </section>
</html>

{% endblock %}
