<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Discover The True Meaning Behind The Lyrics">
        <meta name="keywords" content="music, lyrics, Meaning">
        <meta name="author" content="Nick Mantini">
        <link rel="stylesheet" href="/static/css/nav-header.css">
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="/static/img/MainLogoLarge.png">
    </head>
    <body>
        <header>
            <div class="main-header">
                <div class="search-wrapper">
                    <img id='search-icon' src="/static/img/SearchIcon.png" alt="">
                    <form action="/search" method="post" class="form-search">
                        <input id="search-input" name="search" type="text" placeholder="Search Songs & More" autocomplete="off"> 
                    </form>
                </div>
                <div class="logo">
                   <a href="/"><img id='nav-logo-img' src="/static/img/NavLogo4K.png" alt=""></a>
                </div>
                <div class="logo-right">
                    <a href="/"><img id='logo-img' src="/static/img/MainLogoLargeBlack.png" alt=""></a>
                </div>
            </div>
            <nav class="nav" id="featured-news">
                <!-- <div class="search-wrapper" id="left-red-wrapper">
                    <img id='nav-logo-img-two' src="/static/img/NavLogo4kPink.png" alt="">
                </div> -->
                <ul>
                   <li><a href='/#featured-news'>Featured</a></li> 
                   <li id="bold"><a href='/lyrics'>Lyrics</a></li> 
                   <li><a href='/news'>News</a></li> 
                   <li><a href='/about'>About</a></li> 
                   <li><a href='/shop'>Shop</a></li> 
                </ul>
                <div id="social-media">
                    <span><a href="https://www.tiktok.com/@lyricallyliterate"><span><i class="fa" aria-hidden="true"><img src="/static/img/tik-tok.png" alt=""></i></span></a></span>
                    <span><a href="https://www.youtube.com/channel/UCs7dy4QK21Wh2O8fhyA4lEw"><span><i class="fa fa-youtube-play" aria-hidden="true"></i></span></a></span>
                    <span><a href="https://www.instagram.com/lyricallyliterate/"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a></span>
                </div>
                <div class="logo-right-red" id="FuckLandin">
                    <a href="/" id='img-a'><img id='logo-img-red' src="/static/img/MainLogoLarge.png" alt=""></a>
                </div>
            </nav>
        </header>
    </body>

    <script>
        window.onscroll = function() {myFunction()};
        
        var navbar = document.getElementById("featured-news");
        var logo = document.getElementById("FuckLandin");
        var social = document.getElementById("social-media");
        var logo_left = document.getElementById("#left-red-wrapper");
        var sticky = navbar.offsetTop;
    
        function myFunction() {
          if (window.pageYOffset >= sticky) {
            document.body.style.paddingTop = navbar.offsetHeight + 'px';
            logo.style.top = 4 + 'px';
            FuckLandin.style.display = "block"
            social.style.display = "none"
            // logo_left.style.display = "block"
            navbar.classList.add("sticky")
          } else {
            document.body.style.paddingTop = 0;
            navbar.classList.remove("sticky");
            FuckLandin.style.display = "none"
            social.style.display = "inline-flex"
            // logo_left.style.display = "none"
            logo.style.top = 46 + 'px';
          }
        }
    </script>

    {% block content %}
    {% endblock %}
    <footer id="footer">
        <div class="footer-wrapper">
            <img src="/static/img/MainLogoLarge.png" alt="">
            <div class="footer-content">
                <div class="title">
                    Lyrically Literate
                </div>
            </div>
        </div>
    </footer>
</html>
