{% extends "/html/nav-header.html" %}

{% block content %}

<html>
    <title>News</title>
    <link rel="stylesheet" href="/static/css/news.css">
    <link rel="stylesheet" href="/static/css/home.css">

        <section class="section">
            <div class="content-conatiner">
                <article class="article-content left">
                    <div class='news-title'>All Music News</div>
                    <div class="title-line"></div>
                    <div class="news-wrapper">
                        <div class="news">
                            <img src="https://images.genius.com/7c3c4d8a383d9870c9bce7b7d7b18d3c.1000x1000x1.jpg"/>
                            <h3>DaBaby’s “Find My Way” Shares A Sample With Marshmello & Anne-Marie’s “Friends”</h3>
                        </div>
                        <div class="news">
                            <img src="https://images.genius.com/ad06df145050795bae7fdd592ea1438d.640x640x1.jpg"/>
                            <h3>The 1975's “Jesus Christ 2005 God Bless America” Addresses The Inner Conflict Between Sexual Identity & Faith</h3>                   
                        </div>
                        <div class="news">
                            <img src="https://images.genius.com/a8c467ee0d6f588447ff0fe7b506ed8f.1000x1000x1.jpg"/>                            
                            <h3>Read All The Lyrics To Purity Ring’s New Album ‘Womb’</h3>                    
                        </div>
                        <div class="news">
                            <img src="https://images.genius.com/fa78e9a3585d8f254c41a16071f30e19.900x500x1.jpg"/>                            
                            <h3>Lil Baby Forgot To Send Drake A Verse For “Toosie Slide”</h3>                     
                        </div>
                        <div class="news">
                            <img src="https://images.genius.com/b2d476a8ad596e89fe7278cd7c963eab.1000x1000x1.jpg"/>                            
                            <h3>Frank Ocean Releases His New Singles “Cayendo” & “Dear April” On Streaming Services</h3>
                        </div>
                        <div class="news">
                            <img src="https://images.genius.com/39aa3e396badcbd027d813d65522797b.1920x1080x1.jpg"/>                            
                            <h3>Drake Looks To Start The Latest Dance Craze With His New Single “Toosie Slide”</h3>
                        </div>
                    </div>
                </article>
            </div>
        </section>
</html>

{% endblock %}
