:root {
    --main-color: rgba(255, 69, 69, 1);
    --light-black: rgba(12, 12, 12, .9)
}

#featured {
    max-width: 60%;
    max-height: 100%;
    margin: auto;
}

.container {
    position: relative;
    /* background-color: rgba(128, 128, 128, .1); */
    margin: 40px 0 0 0;
    max-height: 100%;
    padding: 15px
}

.container-header {
    display: inline-flex;
}

.container-middle {
    display: inline-flex;
    flex-direction: row-reverse;
}

#news-title {
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--light-black);
    font-weight: 600;
    border-bottom: solid 1px black;
}

#placeholder {
    width: 5%;
}

.article-news a {
    width: 60%;
    height: auto;
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 1), 0 6px 20px 0 rgba(128, 128, 128, .8);
}

#news-img1 {
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 1), 0 6px 20px 0 rgba(128, 128, 128, .8);
}

#news-img1:hover {
    transform: scale(1.008);
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 1), 0 6px 20px 0 rgba(128, 128, 128, .8);
}

.article-news {
    /* position: absolute; */
    top: 5%;
    width: 36%;
}

.article-news h3 {
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 5px;
}

.article-news p {
    margin-bottom: 4%;
}

.article-news span {
    font-size: 10px;
}

.spacer {
    border-bottom: solid 1px rgba(128, 128, 128, 1); 
    margin-top: 3%;
    margin-bottom: 3%;
}


/* MIDDLE GREY SECTION */
.middle-grey {
    background-color: var(--light-black);
}

.article-long {
    width: 100%;
    height: 500px;
}

/* media querys to check height etc for ading spacing in news article content - less empty spacve at bottom  */

/* IF SCREEN SIZE NOT RESOLUTION IS > 1600 THEN  PUSH CONTENT MORE RIGHT*/
@media only screen and (min-width: 1600px){
    .article-news p {
        margin-bottom: 8%;
        letter-spacing: 1px;
    }
}

/* IF SCREEN SIZE NOT RESOLUTION IS > 2000 THEN  PUSH CONTENT MORE RIGHT*/
@media only screen and (min-width: 2000px){

}