:root {
    --main-color: rgba(255, 69, 69, 1);
    --light-black: rgba(12, 12, 12, .9)
}

#featured {
    max-width: 60%;
    max-height: 100%;
    margin: auto;
}

.container {
    position: relative;
    /* background-color: rgba(128, 128, 128, .1); */
    margin: 65px 0 0 0;
    max-height: 100%;
    padding: 15px
}

.container-header {
    display: inline-flex;
}

#news-title {
    height: 10%;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--light-black);
    font-weight: 600;
    border-bottom: solid 1px black;
}

#placeholder {
    width: 5%;
}

#news-img1 {
    width: 60%;
    height: auto;
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 1), 0 6px 20px 0 rgba(128, 128, 128, .8);
}

#news-img1:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 1), 0 6px 20px 0 rgba(128, 128, 128, .8);
}

.article-news {
    /* position: absolute; */
    top: 5%;
    width: 36%;
}

.article-news h3 {
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 0;
}

.article-news p {
    margin-bottom: 4%;
}

.article-news span {
    font-size: 10px;
}

#spacer {
    border-bottom: solid 1px rgba(128, 128, 128, 1); 
    margin-top: 3%;
}

.fa-music {
    color: var(--main-color)
}

.img {
    transition: .75s;
    position: absolute;
}

.img.one:hover, .img.two:hover, .img.three:hover, .img.four:hover, .img.five:hover, .img.six:hover, .img.seven:hover, .img.eight:hover, .img.nine:hover, .img.ten:hover {
    transform: scale(1.25);
}

.img.one {
    top:30%;
    left: 8%;
    height: 40px;
    width: 40px;
    transform: rotate(20deg)
}

.img.two {
    top:45%;
    left: 94%;
    height: 40px;
    width: 40px;
    transform: rotate(-10deg)
}

.img.three {
    top:50%;
    left: 13%;
    height: 40px;
    width: 40px;
    transform: rotate(-30deg)
}

.img.four {
    top:15%;
    left: 87%;
    height: 40px;
    width: 40px;
    transform: rotate(30deg)
}

.img.five {
    top:80%;
    left: 84%;
    height: 40px;
    width: 40px;
    transform: rotate(10deg)
}

.img.six {
    top:82%;
    left: 5%;
    height: 40px;
    width: 40px;
    transform: rotate(10deg)
}

.img.seven {
    top: 30%;
    left: 85%;
    height: 40px;
    width: 40px;
    transform: rotate(-8deg)
}

.img.eight {
    top:65%;
    left: 90%;
    height: 40px;
    width: 40px;
    transform: rotate(-10deg)
}

.img.nine {
    top:12%;
    left: 4%;
    height: 40px;
    width: 40px;
    transform: rotate(-10deg)
}

.img.ten {
    top:65%;
    left: 5%;
    height: 40px;
    width: 40px;
    transform: rotate(-10deg)
}

