.radio {
    -webkit-font-smoothing: antiallized;
    font-size: 18px;
    font-family: program, sans-serif;
}

label {
    -webkit-font-smoothing: antiallized;
    font-size: 18px;
    font-family: program, sans-serif;
}